<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" 
    crossorigin="anonymous">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../static/style.css">
    <title>卒業制作チーム おたけ</title>
</head>
<body>
    <!-- py-3 はpaddingのy軸方向(top,bottom)に３px -->
    <nav class="navbar navbar-expand-lg navbar-light bg-#41464b py-3 ">
        <!-- fruid削除　width自動反映させる為 -->
        <div class="container">
          <a class="navbar-brand" href="#">
                <h2 class="text-secondary pt-1">チーム　おたけ</h2>
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link" href="/home">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/home#services">サービス</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/home#app">アプリ紹介</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/mypage">マイページ</a>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link" href="/login">ログイン</a>
              </li> -->
              <li class="nav-item">
                <a class="nav-link" href="/signup">新規登録</a>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link" href="/logout" >ログアウト</a>
              </li> -->
           <!-- <li class="nav-item">
                <a class="nav-link" href="#">アババ</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">コンテンツ</a>
              </li>    -->
              <!-- ドロップダウンリスト -->
              <!-- <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  その他
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">決めてない</a></li>
                  <li><a class="dropdown-item" href="#">決めてないB</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">決めてないC</a></li>
                </ul>
            </ul>
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success ms-2" type="submit">検索</button> -->
            </form>
          </div>
        </div>
      </nav>
    </div>
    <!-- ここから -->
    {% block content %}

    <!-- ここまで -->
    {% endblock %}

    <footer>
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <h2 class="text-white">卒業制作<br>チームおたけページ</h2>
                    </div>
                    <div class="col-md-2">
                        <h5 class="text-white">サイトマップ</h5>
                        <ul>
                            <li><a href="#home">HOME</a></li>
                            <li><a href="#serivices">サービス</a></li>
                            <li><a href="#app">アプリ紹介</a></li>
                            <li><a href="/mypage">マイページ</a></li>
                            <li><a href="/signup">新規登録</a></li>
                            <li><a href="/login">ログイン</a></li>
                        </ul>
                    </div>
                    <div class="col-md-2">
                        <h5 class="text-white">概要とか</h5>
                        <ul>
                            <li><a href="#">運賃表</a></li>
                            <li><a href="#">ルール</a></li>
                            <li><a href="#">だべろうぜ</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>


    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
     integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
     crossorigin="anonymous">
    </script>

</body>
</html>