{% extends "base.html" %}

{% block content %}
    <!-- <section id="contact" class="bg-light">
        <div class="container ">
            <form action="" class="row">
                <h2 class="text-secondary  text-center mb-3">運び登録</h2>
            </form>
        </div>
        <div class="row">
            <div class="col-md-6 pt-4 offset-md-1">
                <h6 class="text-success">map</h6>
                
                <div class="feauture d-flex justify-content-evenly mt-5">
                    <div class="iconbox">
                        <i class='bx bxs-plane-take-off'></i>
                    </div>
                    <div class="carrycontent py-2">
                        <h5 class="fs-1 ">出発</h5>
                    </div>
                    <h5 class="fs-1 py-2">道の駅宗像</h5>
                </div>

                <div class="feauture d-flex justify-content-evenly fs-1 mt-5">
                    <div class="iconbox">
                        <i class='bx bxs-plane-land' ></i>
                    </div>
                    <div class="carrycontent ms-1 py-2">
                        <h5 class="fs-1">到着</h5>
                    </div>
            
                    <h5 class="fs-1 py-2"></h5>
                </div>
                <div class="feauture d-flex justify-content-evenly fs-1 mt-5">
                    <div class="iconbox">
                        <i class='bx bx-yen'></i>
                    </div>
                    <div class="carrycontent py-2">
                        <h5 class="fs-1">金額</h5>
                    </div>
                
                    <h5 class="fs-1 py-2"></h5>
                </div>
            </div>
        </div>
    </section> -->

    <section id="contact" class="bg-light">
        <div class="container ">
            <form action="/signup_py" class="row justify-content-center" method="post">
                <h2 class="text-secondary  text-center mb-5">運び登録</h2>
                <div class="col-md-6  mb-5">
                    <!-- <form action="/carry" method="post" enctype="multipart/form-data">
                        <p>画像をアップロードしてね</p>
                        <input type="file" name = "up_img">
                    </form> -->
                    <img src="https://www.seiyu.co.jp/shop/assets/c8cf1baebbbb797a6ac8a4864878c530.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-md-6 mb-5">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d53040.07076916442!2d130.51696533047462!3d33.81219893590089!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x35422c40ca32fe93%3A0xb66032163a590349!2z44K144OL44O85qOu5p6X6YO95biC5bqX!5e0!3m2!1sja!2sjp!4v1665644764455!5m2!1sja!2sjp" width=100% height=100% style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                <div class="col-md-6 mb-5">
                    <p class="text-center fs-4">商品(箱数)</p>
                </div>
                <div class="col-md-6 mb-5 ">
                    <input type="text" class="form-control" name="productbox" placeholder="箱数を入力してね">
                </div>
                <div class="col-md-6 mb-5">
                    <p class="text-center fs-4">重量(kg)</p>
                </div>
                <div class="col-md-6 mb-5">
                    <input type="text" class="form-control" name="weight" placeholder="商品の重量を入力してね">
                </div>
                <div class="col-md-6 mb-5">
                    <p class="text-center fs-4">配送場所</p>
                </div>
                <div class="col-md-6 mb-5">
                    <!-- 配送先を固定する　サニーとかトライアルとか　その分ページ作る必要ががあるけどコピペでいける -->
                    <input type="text" class="form-control" name="del_loc" placeholder="配送場所の住所を入力してください">
                </div>
                <div class="col-md-6 mb-5">
                    <p class="text-center fs-4">配送時間</p>
                </div>
                <div class="col-md-6 mb-3">
                    <!-- リスト方式に変更 -->
                    <select class="form-select" aria-label="Default select example" name="deli_time">

                        <option selected>時間の指定をしてください</option>
                        <option value="5時">5時</option>
                        <option value="6時">6時</option>
                        <option value="7時">7時</option>
                      </select>
                    <!-- <input type="text" class="form-control" name="mail" placeholder="好きな時間を指定してください"> -->
                </div>
                <div class="col-md-9 mb-5">
                        <p class="fs-3">備考</p>
                        <input type="text" class="form-control h-100" name="remarks" placeholder="お気軽にご記入ください">
                    </div>
                    <div class="row mx-md-n5 m-5">
                        <input type="submit" onclick="location.href='/home'" class="btn btn-success col-md-6 " value="予約">
                        <input type="submit" onclick="location.href='/home'" class="btn btn-dark col-md-6 " value="キャンセル">
                    </div>
                        
                </div>
            </form>
        </div>
    </section> 

{% endblock %}
