{% extends "base.html" %}

{% block content %}
    <section id="contact" class="bg-light">
        <div class="container center-block">
            <form action="/login_py" class="row justify-content-center" method="post">
                <h2 class="text-secondary  text-center mb-5">ログイン</h2>
                <div class="col-md-7 mb-5 ">
                    <p>ご自身のメールアドレスを入力してください。</p>
                    <input type="text" class="form-control justify-content-center" placeholder="メールアドレス" name="mail" required>
                </div>
                <div class="col-md-7 mb-5">
                    <p>ご自身のパスワードを入力してください。</p>
                    <input type="text" class="form-control justify-content-center" placeholder="パスワード" name="pass" required>
                </div>
                <span class="badge badge-danger text-danger text-center center-block"><p class="display-6">入力忘れないでね！</p></span>
                <input type="submit" onclick="location.href='/home'" class="btn btn-success col-md-7 " value="ログイン">

            </form>
        </div>
        
    </section>

{% endblock %}