{% extends "base.html" %}

{% block content %}
    <section id="contact" class="bg-light">
        <div class="container ">
            <form action="" class="row">
                <h2 class="text-secondary  text-center mb-5">マイページ</h2>
                <div class="row mx-md-n5">
                    <div class="d-grid gap-2 col-6 mx-auto">
                        <a class="btn btn-secondary" href="/logout" role="button">ログアウト</a>
                    </div>
                </div>
            </form>
        </div>
    </section>
    
    <section class="carry bg-light">
        <div class="container ">
            <form action="" class="row">
                <h2 class="text-secondary  mb-10 display-1">予約一覧</h2>
            </form>
            
            <div class="col-lg-7">


                    <p class="fs-4 mt-5">現在予約はありません</p>
                
            </div>
        </div>
    </section>
    <!-- <section class="carry bg-light">
        <div class="container ">
            <form action="" class="row">
                <h2 class="text-secondary  mb-10 display-1">運ばれ予約</h2>
            </form>

        </div>
    </section> -->
    </div>

{% endblock %}