{% extends "base.html" %}

{% block content %}
    <section id="contact" class="bg-light">
        <div class="container ">
            <form action="" class="row">
                <h2 class="text-secondary  text-center mb-5">マイページ</h2>
                <div class="row mx-md-n5">
                    <input type="submit" class="btn btn-dark col-md4" onclick="location.href='/logout'" value="ログアウト">
                </div>
                <!-- <a class="nav-link" href="/logout" >ログアウト</a> -->
            </form>
        </div>
    </section>
    
    <section class="carry bg-light">
        <div class="container ">
            <form action="" class="row">
                <h2 class="text-secondary  mb-10 display-1">運び登録</h2>
            </form>

        </div>
    </section>
    <section class="carry bg-light">
        <div class="container ">
            <form action="" class="row">
                <h2 class="text-secondary  mb-10 display-1">運ばれ予約
                </h2>
            </form>
            
        </div>
    </section>
    </div>

{% endblock %}