{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 mx-auto text-center">
            <img src="https://th.bing.com/th/id/R.13e3fc1818875f289db3d544a7b29a3b?rik=%2FDMrmftiUyJlnQ&riu=http%3A%2F%2F1.bp.blogspot.com%2F-K7zd3Dj8CvE%2FVaznHEdzeEI%2FAAAAAAAALvM%2FHyaw3p1go3c%2Fs1600%2FMBnYVEKO.jpeg&ehk=3XrJLK%2BFZWiPn0xLQsjwiSQlanCwNlf6BrAbv%2BVeGDg%3D&risl=&pid=ImgRaw&r=0" class="img-fluid" alt="">
            <h6 class="text-success fs-1 mb-5">見せられないよ！</h6>
            <h3 class="mb-5">会員登録がまだの方は<br>会員登録を行なってください。</h3>
            <div class="d-grid gap-2 col-7 mx-auto">
                <a class="btn btn-success mb-5" href="/signup" role="button">新規登録</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}