{% extends "base.html" %}

{% block content %}
    <section id="contact" class="bg-light">
        <div class="container ">
            <form action="/signup_py" class="row justify-content-center" method="post">
                <h2 class="text-secondary  text-center mb-5">新規登録</h2>
                <div class="col-md-7 mb-5">
                    <p>ご自身のお名前を入力してください。</p>
                    <input type="text" class="form-control" name="user_name" placeholder="氏名">
                </div>
                <div class="col-md-7 mb-5">
                    <p>ご自身のご住所を入力してください。</p>
                    <input type="text" class="form-control" name="adress" placeholder="住所">
                </div>
                <div class="col-md-7 mb-5">
                    <p>ご自身のお電話番号を入力してください。</p>
                    <input type="text" class="form-control" name="phon" placeholder="電話番号">
                </div>
                <div class="col-md-7 mb-5">
                    <p>ご自身のメールアドレスを入力してください。</p>
                    <input type="text" class="form-control" name="mail" placeholder="メールアドレス">
                </div>
                <div class="col-md-7 mb-5">
                    <p>登録するパスワードを入力してください。</p>
                    <input type="text" class="form-control" name="pass" placeholder="パスワード" style="-webkit-text-security:disc;">
                </div>
                <span class="badge badge-danger text-danger text-center center-block"><p class="display-6">入力忘れないでね！</p></span>
                
                <div class="d-grid gap-2 col-7 mx-auto">
                    <input type="submit" class="btn btn-success" value="新規登録" onclick="window.confirm('登録完了')">
                
                    <p class="text-center mt-4 fs-3">登録済みの方は下記のボタンを押してください</p>
                    <a class="btn btn-secondary" href="/login" role="button">ログイン</a>
                </div>
                
            </form>
        </div>
    </section> 

{% endblock %}